.git
.github
.agents
.vscode
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.env
.env.*
!.env.example
*.log
npm-debug.log
Dockerfile
compose.yaml
